@import "@/style/index";

$title-color: #ffffff;
$label-text-color: #cfe4ff;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        color: $title-color;
        padding-top: 65rpx;
        padding-bottom: 40rpx;
        line-height: 60rpx;
    }

    .tips {
        color: $title-color;
        font-size: 12px;
        text-align: center;
    }

    .guide-box {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 100rpx 5vw;
    }

    .single-box {
        width: 35vw;
        height: 33vw;
        background-color: rgba(0, 0, 0, 0.55);
        text-align: center;
        vertical-align: top;
        margin: 5vw;
        margin-bottom: 60rpx;
    }

    .icon {
        display: block;
        width: 72rpx;
        height: 72rpx;
        margin: 20px auto 0;
    }

    .label {
        display: block;
        margin-top: 10px;
        color: $label-text-color;
        font-size: 28rpx;
    }

    .desc {
        display: block;
        margin-top: 2px;
        color: $label-text-color;
        font-size: 24rpx;
        white-space: nowrap;
    }

    .logo-box {
        position: absolute;
        width: 100vw;
        bottom: 36rpx;
        text-align: center;
    }

    .logo {
        width: 160rpx;
        height: 44rpx;
    }
}